* {
    /* This style applies to all elements */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: green;
}

.main-content p {
    /* This is an example of styling all P (paragraph) elements within all elements that have a class attribute with the value "main-content" */
    font-size: 200%;
}

footer {
    background-color: bisque;
    padding: 5px;
}